<a href="https://colab.research.google.com/github/HyeranYang/Projects_Senior_IT_Support_Center/blob/master/df_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 최종 사용할 변수

# Imports

In [1]:
import pandas as pd
import numpy as np

# 주변특성, 대중교통

In [2]:
main = pd.read_excel('/content/drive/MyDrive/PROJECT_senior it support center/데이터/main_df.xlsx',
                index_col=0)
main.head()

                  시설명  도서관(500)  배움터(500)  병원(500)  공원(500)  버스(100)  지하철(250)
0.0        청운효자동 주민센터       0.0       0.0      0.0      0.0      1.0       0.0
1.0          사직동 주민센터       2.0       0.0      0.0      1.0      1.0       0.0
2.0  종로1.2.3.4가동 주민센터       0.0       2.0      1.0      1.0      4.0       1.0
3.0          삼청동 주민센터       1.0       0.0      0.0      0.0      3.0       0.0
4.0          가회동 주민센터       1.0       0.0      0.0      0.0      2.0       0.0

In [3]:
# 주변특성 파생변수 생성
# 시니어들이 자주 이용하는 시설들의 개수를 합해서, 주변에 시니어를 위한 시설이 얼마나 있는지 확인
main['주변특성'] = main['도서관(500)'] + main['배움터(500)'] + main['병원(500)'] + main['공원(500)']


# 대중교통 파생변수 생성 - 주변에 교통이 얼마나 편리한지 보기 위한 변수.
main['대중교통'] = main['버스(100)'] + main['지하철(250)']
main.head()

,시설명,도서관(500),배움터(500),병원(500),공원(500),버스(100),지하철(250),주변특성,대중교통
0.0,청운효자동 주민센터,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1.0,사직동 주민센터,2.0,0.0,0.0,1.0,1.0,0.0,3.0,1.0
2.0,종로1.2.3.4가동 주민센터,0.0,2.0,1.0,1.0,4.0,1.0,4.0,5.0
3.0,삼청동 주민센터,1.0,0.0,0.0,0.0,3.0,0.0,1.0,3.0
4.0,가회동 주민센터,1.0,0.0,0.0,0.0,2.0,0.0,1.0,2.0

In [4]:
final = main[['시설명', '주변특성', '대중교통']]
final.head()

                  시설명  주변특성  대중교통
0.0        청운효자동 주민센터   0.0   1.0
1.0          사직동 주민센터   3.0   1.0
2.0  종로1.2.3.4가동 주민센터   4.0   5.0
3.0          삼청동 주민센터   1.0   3.0
4.0          가회동 주민센터   1.0   2.0

In [5]:
final['동'] = final['시설명'].map(lambda x : x.split()[0])
final.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                  시설명  주변특성  대중교통            동
0.0        청운효자동 주민센터   0.0   1.0        청운효자동
1.0          사직동 주민센터   3.0   1.0          사직동
2.0  종로1.2.3.4가동 주민센터   4.0   5.0  종로1.2.3.4가동
3.0          삼청동 주민센터   1.0   3.0          삼청동
4.0          가회동 주민센터   1.0   2.0          가회동

In [6]:
final = final[['동', '시설명', '주변특성', '대중교통']] # 칼럼 순서정리
final.head()

               동               시설명  주변특성  대중교통
0.0        청운효자동        청운효자동 주민센터   0.0   1.0
1.0          사직동          사직동 주민센터   3.0   1.0
2.0  종로1.2.3.4가동  종로1.2.3.4가동 주민센터   4.0   5.0
3.0          삼청동          삼청동 주민센터   1.0   3.0
4.0          가회동          가회동 주민센터   1.0   2.0

In [7]:
final[final['동'].str.contains('-')]  # merge 할때 표기방식의 차이로 문제가 발생할 행들.

            동           시설명  주변특성  대중교통
56.0  금호2-3가동  금호2-3가동 주민센터   2.0   1.0

In [8]:
final = final.replace('금호2-3가동', '금호2.3가동')

In [9]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 424 entries, 0.0 to 423.0
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   동       424 non-null    object
 1   시설명     424 non-null    object
 2   주변특성    424 non-null    float64
 3   대중교통    424 non-null    float64
dtypes: float64(2), object(2)
memory usage: 16.6+ KB

# 디지털정보지수

In [10]:
media = pd.read_csv('/content/drive/MyDrive/PROJECT_senior it support center/데이터/media_df.csv',
                    index_col=0)
media.head()

     구    동  디지털정보지수
0  종로구  사직동  2408.35
1  종로구  삼청동   689.18
2  종로구  부암동  2619.02
3  종로구  평창동  5088.62
4  종로구  무악동  2150.79

In [11]:
media = media.replace('상일1동', '상일동')
media [media ['동'].str.contains('상일')]

       구    동  디지털정보지수
424  강동구  상일동  8379.05

In [12]:
final_df = pd.merge(final, media, how='left', on=['동'])
final_df

               동               시설명  주변특성  대중교통    구  디지털정보지수
0          청운효자동        청운효자동 주민센터   0.0   1.0  종로구  2949.41
1            사직동          사직동 주민센터   3.0   1.0  종로구  2408.35
2    종로1.2.3.4가동  종로1.2.3.4가동 주민센터   4.0   5.0  종로구  2326.67
3            삼청동          삼청동 주민센터   1.0   3.0  종로구   689.18
4            가회동          가회동 주민센터   1.0   2.0  종로구  1126.72
..           ...               ...   ...   ...  ...      ...
421         성내3동         성내3동 주민센터   0.0   0.0  강동구  6149.81
422         천호1동         천호1동 주민센터   2.0   0.0  강동구  7545.21
423         천호2동         천호2동 주민센터   1.0   4.0  강동구  8688.23
424         천호3동         천호3동 주민센터   1.0   0.0  강동구  6823.58
425          강일동          강일동 주민센터   1.0   3.0  강동구  7803.73

[426 rows x 6 columns]

In [13]:
final_df[final_df['동']=='신사동']

       동       시설명  주변특성  대중교통    구  디지털정보지수
335  신사동  신사동 주민센터   0.0   1.0  관악구  5028.00
336  신사동  신사동 주민센터   0.0   1.0  강남구  3898.34
370  신사동  신사동 주민센터   0.0   1.0  관악구  5028.00
371  신사동  신사동 주민센터   0.0   1.0  강남구  3898.34

In [14]:
final_df.drop_duplicates(inplace=True) #중복행 제거
final_df[final_df['동']=='신사동']

       동       시설명  주변특성  대중교통    구  디지털정보지수
335  신사동  신사동 주민센터   0.0   1.0  관악구  5028.00
336  신사동  신사동 주민센터   0.0   1.0  강남구  3898.34

In [15]:
final_df.info()  # null값이 없이, merge가 잘 됐다.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 424 entries, 0 to 425
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   동        424 non-null    object
 1   시설명      424 non-null    object
 2   주변특성     424 non-null    float64
 3   대중교통     424 non-null    float64
 4   구        424 non-null    object
 5   디지털정보지수  424 non-null    float64
dtypes: float64(3), object(3)
memory usage: 23.2+ KB

In [16]:
final_df = final_df[['구', '동', '시설명', '주변특성', '대중교통', '디지털정보지수']]
final_df

       구            동               시설명  주변특성  대중교통  디지털정보지수
0    종로구        청운효자동        청운효자동 주민센터   0.0   1.0  2949.41
1    종로구          사직동          사직동 주민센터   3.0   1.0  2408.35
2    종로구  종로1.2.3.4가동  종로1.2.3.4가동 주민센터   4.0   5.0  2326.67
3    종로구          삼청동          삼청동 주민센터   1.0   3.0   689.18
4    종로구          가회동          가회동 주민센터   1.0   2.0  1126.72
..   ...          ...               ...   ...   ...      ...
421  강동구         성내3동         성내3동 주민센터   0.0   0.0  6149.81
422  강동구         천호1동         천호1동 주민센터   2.0   0.0  7545.21
423  강동구         천호2동         천호2동 주민센터   1.0   4.0  8688.23
424  강동구         천호3동         천호3동 주민센터   1.0   0.0  6823.58
425  강동구          강일동          강일동 주민센터   1.0   3.0  7803.73

[424 rows x 6 columns]

# 인구특성 merge

In [17]:
people = pd.read_csv('/content/drive/MyDrive/PROJECT_senior it support center/데이터/people.csv',
                     index_col=0)
people.head()

     구    동  동별 전체인구  동별 시니어 인구  동별 시니어 비율
0  종로구  사직동     9372       2468   0.263338
1  종로구  삼청동     2456        827   0.336726
2  종로구  부암동     9579       2558   0.267042
3  종로구  평창동    18152       4937   0.271981
4  종로구  무악동     8259       2006   0.242887

In [18]:
people =people.replace('상일1동', '상일동')
people [people['동'].str.contains('상일')]

       구    동  동별 전체인구  동별 시니어 인구  동별 시니어 비율
424  강동구  상일동    38834       7184   0.184993

In [19]:
people[people['동']=='신사동']

       구    동  동별 전체인구  동별 시니어 인구  동별 시니어 비율
329  관악구  신사동    22560       4975   0.220523
358  강남구  신사동    15993       3954   0.247233

In [20]:
people.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 425 entries, 0 to 424
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   구          425 non-null    object
 1   동          425 non-null    object
 2   동별 전체인구    425 non-null    int64
 3   동별 시니어 인구  425 non-null    int64
 4   동별 시니어 비율  425 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 19.9+ KB

In [21]:
final_df2 = pd.merge(final_df, people, how='left', on=['구', '동'])
final_df2

,구,동,시설명,주변특성,대중교통,디지털정보지수,동별 전체인구,동별 시니어 인구,동별 시니어 비율
0,종로구,청운효자동,청운효자동 주민센터,0.0,1.0,2949.41,11978,2945,0.245867
1,종로구,사직동,사직동 주민센터,3.0,1.0,2408.35,9372,2468,0.263338
2,종로구,종로1.2.3.4가동,종로1.2.3.4가동 주민센터,4.0,5.0,2326.67,7197,2682,0.372655
3,종로구,삼청동,삼청동 주민센터,1.0,3.0,689.18,2456,827,0.336726
4,종로구,가회동,가회동 주민센터,1.0,2.0,1126.72,4088,1184,0.289628
...,...,...,...,...,...,...,...,...,...
419,강동구,성내3동,성내3동 주민센터,0.0,0.0,6149.81,23079,5761,0.249621
420,강동구,천호1동,천호1동 주민센터,2.0,0.0,7545.21,26738,7764,0.290373
421,강동구,천호2동,천호2동 주민센터,1.0,4.0,8688.23,33154,8694,0.262231
422,강동구,천호3동,천호3동 주민센터,1.0,0.0,6823.58,26564,6893,0.259487
423,강동구,강일동,강일동 주민센터,1.0,3.0,7803.73,32794,7864,0.239800

In [22]:
final_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 424 entries, 0 to 423
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   구          424 non-null    object
 1   동          424 non-null    object
 2   시설명        424 non-null    object
 3   주변특성       424 non-null    float64
 4   대중교통       424 non-null    float64
 5   디지털정보지수    424 non-null    float64
 6   동별 전체인구    424 non-null    int64
 7   동별 시니어 인구  424 non-null    int64
 8   동별 시니어 비율  424 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 33.1+ KB

In [23]:
final_df2[final_df2['동별 전체인구'].isnull()]  # 결측치 없이 merge가 잘 됐다.

Empty DataFrame
Columns: [구, 동, 시설명, 주변특성, 대중교통, 디지털정보지수, 동별 전체인구, 동별 시니어 인구, 동별 시니어 비율]
Index: []

In [24]:
final_df2[final_df2['동']=='신사동']

       구    동       시설명  주변특성  대중교통  디지털정보지수  동별 전체인구  동별 시니어 인구  동별 시니어 비율
335  관악구  신사동  신사동 주민센터   0.0   1.0  5028.00    22560       4975   0.220523
336  강남구  신사동  신사동 주민센터   0.0   1.0  3898.34    15993       3954   0.247233

# 연면적

In [26]:
final_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 424 entries, 0 to 423
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   구          424 non-null    object
 1   동          424 non-null    object
 2   시설명        424 non-null    object
 3   주변특성       424 non-null    float64
 4   대중교통       424 non-null    float64
 5   디지털정보지수    424 non-null    float64
 6   동별 전체인구    424 non-null    int64
 7   동별 시니어 인구  424 non-null    int64
 8   동별 시니어 비율  424 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 33.1+ KB

In [90]:
area = pd.read_excel('/content/drive/MyDrive/PROJECT_senior it support center/데이터/연면적.xlsx')
area.head()

   자치구            동           시설명                 주소      연면적
0  종로구        청운효자동    청운효자동 주민센터  서울특별시 종로구 자하문로 92   965.52
1  종로구          사직동      사직동 주민센터  서울특별시 종로구 사직로9길 1   346.65
2  종로구  종로1.2.3.4가동  종로1-4가동 주민센터  서울특별시 종로구 종로17길 8  1981.09
3  종로구          삼청동      삼청동 주민센터  서울특별시 종로구 삼청로 107   998.10
4  종로구          가회동      가회동 주민센터   서울특별시 종로구 북촌로 35  1032.08

In [91]:
area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   자치구     424 non-null    object
 1   동       424 non-null    object
 2   시설명     424 non-null    object
 3   주소      424 non-null    object
 4   연면적     424 non-null    float64
dtypes: float64(1), object(4)
memory usage: 16.7+ KB

In [92]:
# merge 쉽게 하기 위해, area 데이터 정리
area_merge = area[['자치구', '동', '연면적']].copy()
area_merge.rename(columns={'자치구':'구'}, inplace=True)
area_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구       424 non-null    object
 1   동       424 non-null    object
 2   연면적     424 non-null    float64
dtypes: float64(1), object(2)
memory usage: 10.1+ KB

In [100]:
# merge
final_df3 = pd.merge(final_df2, area_merge, how='left', on=['구','동'])
final_df3.head()

,구,동,시설명,주변특성,대중교통,디지털정보지수,동별 전체인구,동별 시니어 인구,동별 시니어 비율,연면적
0,종로구,청운효자동,청운효자동 주민센터,0.0,1.0,2949.41,11978,2945,0.245867,965.52
1,종로구,사직동,사직동 주민센터,3.0,1.0,2408.35,9372,2468,0.263338,346.65
2,종로구,종로1.2.3.4가동,종로1.2.3.4가동 주민센터,4.0,5.0,2326.67,7197,2682,0.372655,1981.09
3,종로구,삼청동,삼청동 주민센터,1.0,3.0,689.18,2456,827,0.336726,998.10
4,종로구,가회동,가회동 주민센터,1.0,2.0,1126.72,4088,1184,0.289628,1032.08

In [101]:
final_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 424 entries, 0 to 423
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   구          424 non-null    object
 1   동          424 non-null    object
 2   시설명        424 non-null    object
 3   주변특성       424 non-null    float64
 4   대중교통       424 non-null    float64
 5   디지털정보지수    424 non-null    float64
 6   동별 전체인구    424 non-null    int64
 7   동별 시니어 인구  424 non-null    int64
 8   동별 시니어 비율  424 non-null    float64
 9   연면적        422 non-null    float64
dtypes: float64(5), int64(2), object(3)
memory usage: 36.4+ KB

In [102]:
final_df3[final_df3['연면적'].isna()]

,구,동,시설명,주변특성,대중교통,디지털정보지수,동별 전체인구,동별 시니어 인구,동별 시니어 비율,연면적
337,관악구,신원동,신원동 주민센터,0.0,0.0,4024.19,17840,4439,0.248823,NaN
358,강남구,역삼1동,역삼1동 주민센터,2.0,0.0,6217.83,35587,5430,0.152584,NaN

In [110]:
# 왜 반영안되는지 모르겠어서,, 수동으로 함.
final_df3.loc[final_df3['동']=='신원동', '연면적'] = 1320.43
final_df3.loc[final_df3['동']=='역삼1동', '연면적'] = 10873.98

In [111]:
final_df3[final_df3['연면적'].isna()]

Empty DataFrame
Columns: [구, 동, 시설명, 주변특성, 대중교통, 디지털정보지수, 동별 전체인구, 동별 시니어 인구, 동별 시니어 비율, 연면적]
Index: []

In [112]:
final_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 424 entries, 0 to 423
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   구          424 non-null    object
 1   동          424 non-null    object
 2   시설명        424 non-null    object
 3   주변특성       424 non-null    float64
 4   대중교통       424 non-null    float64
 5   디지털정보지수    424 non-null    float64
 6   동별 전체인구    424 non-null    int64
 7   동별 시니어 인구  424 non-null    int64
 8   동별 시니어 비율  424 non-null    float64
 9   연면적        424 non-null    float64
dtypes: float64(5), int64(2), object(3)
memory usage: 52.6+ KB

# 최종 데이터 저장

In [113]:
final_df3.to_excel('/content/drive/MyDrive/PROJECT_senior it support center/데이터/final.xlsx',
                   index=False)