<a href="https://colab.research.google.com/github/HyeranYang/Projects_Senior_IT_Support_Center/blob/master/%EC%A3%BC%EB%B3%80%ED%8A%B9%EC%84%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [ ]:
import pandas as pd
import numpy as np

# 도서관

In [ ]:
library = pd.read_excel('/content/drive/MyDrive/PROJECT_senior it support center/데이터/전처리 전 데이터/공공도서관 위도경도 변환.xlsx',
                        index_col=0)
library.head()

,도서관 일련번호,도서관명,구 코드,구명,주소,전화번호,홈페이지 URL,운영시간,정기 휴관일,도서관 구분,도서관 구분명,위도,경도,위도UTMK,경도UTMK
0,1935,강남구립못골도서관,8,강남구,서울특별시 강남구 자곡로 116,02-459-5522,http://mglib.gangnam.go.kr,평일 : 09:00~18:00 주말 : 09:00~17:00,매주 화요일 및 법정 공휴일,1,공공도서관,37.471538,127.096582,1.941139e+06,964517.755038
1,1066,강남역삼푸른솔도서관,8,강남구,서울특별시 강남구 테헤란로8길 36. 4층,02-2051-1178,http://ysplib.gangnam.go.kr/,평일 : 09:00~18:00 주말 : 09:00~17:00,매주 화요일 및 법정 공휴일,1,공공도서관,37.496497,127.032027,1.943934e+06,958823.237202
2,48,논현도서관,8,강남구,서울특별시 강남구 학동로43길 17(논현동) 논현2동주민센터 6층,02-3443-7650,http://nhlib.gangnam.go.kr/,평일 : 06:00~22:00 주말 : 06:00~22:00,매주 화요일 및 법정 공휴일,1,공공도서관,37.517278,127.037188,1.946238e+06,959290.707872
3,49,대치도서관,8,강남구,서울특별시 강남구 삼성로 212 은마아파트 복지상가 2층 215호,02-565-6666,http://dchlib.gangnam.go.kr/,평일 : 6:00~21:00 주말 : 06:00~21:00,매주 화요일 및 법정 공휴일,1,공공도서관,37.498794,127.066997,1.944175e+06,961915.565734
4,1402,도곡정보문화도서관,8,강남구,서울특별시 강남구 도곡로18길 57,02-2176-0783~8,http://dogoklib.gangnam.go.kr/,평일 : 09:00~22:00 주말 : 09:00~17:00,첫째주셋째주 월요일 및 법정공휴일,1,공공도서관,37.488310,127.038880,1.943023e+06,959424.568175

In [ ]:
# #  위도, 경도만 슬라이싱
# lib_utmk = library.loc[:, ['위도UTMK', '경도UTMK']]
# lib_utmk.head()

In [ ]:
main = pd.read_csv('/content/drive/MyDrive/PROJECT_senior it support center/데이터/main_utmk.csv',
                   index_col=0)
main['도서관(500)'] = 0 # 도서관(500) 개수 들어갈 칼럼 생성
main.head()

,시설명,주소,위도,경도,위도utmk,경도utmk,도서관(500)
0,청운효자동 주민센터,서울특별시 종로구 자하문로 92,37.584083,126.970636,1.953680e+06,953451.030567,0
1,사직동 주민센터,서울특별시 종로구 사직로9길 1,37.576191,126.968829,1.952806e+06,953286.588072,0
2,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,37.570728,126.988912,1.952190e+06,955056.678912,0
3,삼청동 주민센터,서울특별시 종로구 삼청로 107,37.584979,126.981782,1.953774e+06,954435.679506,0
4,가회동 주민센터,서울특별시 종로구 북촌로 35,37.580025,126.984805,1.953223e+06,954699.580385,0

In [ ]:
# main 데이터프레임의 위경도
x = main['위도utmk']
y = main['경도utmk']

# 도서관 데이터프레임의 위경도
lib_x = library['위도UTMK']
lib_y = library['경도UTMK']

In [ ]:
# 각 주민센터로부터 500이내 거리에 있는 도서관 개수 구하기

# 각 주민센터로부터 도서관 거리 구해서, 500이내면 개수 카운트
for i in range(len(main)):
    for j in range(len(library)):
        value = False
        value = np.sqrt((x[i] - lib_x[j])**2 + (y[i] - lib_y[j])**2) <= 500
        if value == True:
            main['도서관(500)'][i] += int(value)
        else:
            pass
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,시설명,주소,위도,경도,위도utmk,경도utmk,도서관(500)
0,청운효자동 주민센터,서울특별시 종로구 자하문로 92,37.584083,126.970636,1.953680e+06,953451.030567,0
1,사직동 주민센터,서울특별시 종로구 사직로9길 1,37.576191,126.968829,1.952806e+06,953286.588072,2
2,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,37.570728,126.988912,1.952190e+06,955056.678912,0
3,삼청동 주민센터,서울특별시 종로구 삼청로 107,37.584979,126.981782,1.953774e+06,954435.679506,1
4,가회동 주민센터,서울특별시 종로구 북촌로 35,37.580025,126.984805,1.953223e+06,954699.580385,1
...,...,...,...,...,...,...,...
419,성내3동 주민센터,서울특별시 강동구 강동대로53길 76,37.524866,127.132220,1.947043e+06,967692.043655,0
420,천호1동 주민센터,서울특별시 강동구 구천면로42길 59,37.546014,127.135722,1.949388e+06,968010.593643,0
421,천호2동 주민센터,서울특별시 강동구 올림픽로 698,37.553875,127.128282,1.950262e+06,967356.793338,1
422,천호3동 주민센터,서울특별시 강동구 진황도로23길 7,37.539519,127.129328,1.948669e+06,967442.919346,1
423,강일동 주민센터,서울특별시 강동구 아리수로93길 9-14,37.564942,127.173915,1.951475e+06,971391.690816,1

# 배움터 개수 구하기

In [ ]:
academy = pd.read_excel('/content/drive/MyDrive/PROJECT_senior it support center/데이터/전처리 전 데이터/배움터 위도경도 변환.xlsx',
                        index_col = 0)
academy.head()

          위도          경도        위도UTMK         경도UTMK
0  37.577213  127.006909  1.952901e+06  956649.727210
1  37.574957  126.958028  1.952674e+06  952332.002767
2  37.573062  126.987808  1.952449e+06  954960.612037
3  37.551746  127.009188  1.950074e+06  956836.223990
4  37.558649  127.015732  1.950837e+06  957418.193492

In [ ]:
a1 = academy['위도UTMK']
a2 = academy['경도UTMK']

main['배움터(500)'] = 0
main.head()

,시설명,주소,위도,경도,위도utmk,경도utmk,도서관(500),배움터(500)
0,청운효자동 주민센터,서울특별시 종로구 자하문로 92,37.584083,126.970636,1.953680e+06,953451.030567,0,0
1,사직동 주민센터,서울특별시 종로구 사직로9길 1,37.576191,126.968829,1.952806e+06,953286.588072,2,0
2,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,37.570728,126.988912,1.952190e+06,955056.678912,0,0
3,삼청동 주민센터,서울특별시 종로구 삼청로 107,37.584979,126.981782,1.953774e+06,954435.679506,1,0
4,가회동 주민센터,서울특별시 종로구 북촌로 35,37.580025,126.984805,1.953223e+06,954699.580385,1,0

In [ ]:
for i in range(len(main)):
    for j in range(len(academy)):
        value = False
        value = np.sqrt((x[i] - a1[j])**2 + (y[i] - a2[j])**2) <= 500
        if value == True:
            main['배움터(500)'][i] += int(value)
        else:
            pass
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,시설명,주소,위도,경도,위도utmk,경도utmk,도서관(500),배움터(500)
0,청운효자동 주민센터,서울특별시 종로구 자하문로 92,37.584083,126.970636,1.953680e+06,953451.030567,0,0
1,사직동 주민센터,서울특별시 종로구 사직로9길 1,37.576191,126.968829,1.952806e+06,953286.588072,2,0
2,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,37.570728,126.988912,1.952190e+06,955056.678912,0,2
3,삼청동 주민센터,서울특별시 종로구 삼청로 107,37.584979,126.981782,1.953774e+06,954435.679506,1,0
4,가회동 주민센터,서울특별시 종로구 북촌로 35,37.580025,126.984805,1.953223e+06,954699.580385,1,0
...,...,...,...,...,...,...,...,...
419,성내3동 주민센터,서울특별시 강동구 강동대로53길 76,37.524866,127.132220,1.947043e+06,967692.043655,0,0
420,천호1동 주민센터,서울특별시 강동구 구천면로42길 59,37.546014,127.135722,1.949388e+06,968010.593643,0,2
421,천호2동 주민센터,서울특별시 강동구 올림픽로 698,37.553875,127.128282,1.950262e+06,967356.793338,1,0
422,천호3동 주민센터,서울특별시 강동구 진황도로23길 7,37.539519,127.129328,1.948669e+06,967442.919346,1,0
423,강일동 주민센터,서울특별시 강동구 아리수로93길 9-14,37.564942,127.173915,1.951475e+06,971391.690816,1,0

# 병원

In [ ]:
hospital = pd.read_excel('/content/drive/MyDrive/PROJECT_senior it support center/데이터/전처리 전 데이터/병원 UTMK변환.xlsx',
                         index_col=0)
hospital.head()

          위도          경도        위도UTMK         경도UTMK
0  37.528592  126.863614  1.947582e+06  943960.198502
1  37.564390  126.819181  1.951581e+06  940062.861851
2  37.572840  126.989053  1.952424e+06  955070.400980
3  37.528898  126.872250  1.947611e+06  944723.506088
4  37.505560  126.912780  1.944999e+06  948288.515486

In [ ]:
h1 = hospital['위도UTMK']
h2 = hospital['경도UTMK']

main['병원(500)'] = 0

In [ ]:
for i in range(len(main)):
    for j in range(len(hospital)):
        value = False
        value = np.sqrt((x[i] - h1[j])**2 + (y[i] - h2[j])**2) <= 500
        if value == True:
            main['병원(500)'][i] += int(value)
        else:
            pass
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,시설명,주소,위도,경도,위도utmk,경도utmk,도서관(500),배움터(500),병원(500)
0,청운효자동 주민센터,서울특별시 종로구 자하문로 92,37.584083,126.970636,1.953680e+06,953451.030567,0,0,0
1,사직동 주민센터,서울특별시 종로구 사직로9길 1,37.576191,126.968829,1.952806e+06,953286.588072,2,0,0
2,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,37.570728,126.988912,1.952190e+06,955056.678912,0,2,1
3,삼청동 주민센터,서울특별시 종로구 삼청로 107,37.584979,126.981782,1.953774e+06,954435.679506,1,0,0
4,가회동 주민센터,서울특별시 종로구 북촌로 35,37.580025,126.984805,1.953223e+06,954699.580385,1,0,0
...,...,...,...,...,...,...,...,...,...
419,성내3동 주민센터,서울특별시 강동구 강동대로53길 76,37.524866,127.132220,1.947043e+06,967692.043655,0,0,0
420,천호1동 주민센터,서울특별시 강동구 구천면로42길 59,37.546014,127.135722,1.949388e+06,968010.593643,0,2,0
421,천호2동 주민센터,서울특별시 강동구 올림픽로 698,37.553875,127.128282,1.950262e+06,967356.793338,1,0,0
422,천호3동 주민센터,서울특별시 강동구 진황도로23길 7,37.539519,127.129328,1.948669e+06,967442.919346,1,0,0
423,강일동 주민센터,서울특별시 강동구 아리수로93길 9-14,37.564942,127.173915,1.951475e+06,971391.690816,1,0,0

# 공원

In [ ]:
park = pd.read_excel('/content/drive/MyDrive/PROJECT_senior it support center/데이터/전처리 전 데이터/서울공원 위도경도 변환.xlsx',
                     index_col=0)

In [ ]:
p1 = park['위도UTMK']
p2 = park['경도UTMK']

main['공원(500)'] = 0

In [ ]:
for i in range(len(main)):
    for j in range(len(park)):
        value = False
        value = np.sqrt((x[i] - p1[j])**2 + (y[i] - p2[j])**2) <= 500
        if value == True:
            main['공원(500)'][i] += int(value)
        else:
            pass
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,시설명,주소,위도,경도,위도utmk,경도utmk,도서관(500),배움터(500),병원(500),공원(500)
0,청운효자동 주민센터,서울특별시 종로구 자하문로 92,37.584083,126.970636,1.953680e+06,953451.030567,0,0,0,0
1,사직동 주민센터,서울특별시 종로구 사직로9길 1,37.576191,126.968829,1.952806e+06,953286.588072,2,0,0,1
2,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,37.570728,126.988912,1.952190e+06,955056.678912,0,2,1,1
3,삼청동 주민센터,서울특별시 종로구 삼청로 107,37.584979,126.981782,1.953774e+06,954435.679506,1,0,0,0
4,가회동 주민센터,서울특별시 종로구 북촌로 35,37.580025,126.984805,1.953223e+06,954699.580385,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
419,성내3동 주민센터,서울특별시 강동구 강동대로53길 76,37.524866,127.132220,1.947043e+06,967692.043655,0,0,0,0
420,천호1동 주민센터,서울특별시 강동구 구천면로42길 59,37.546014,127.135722,1.949388e+06,968010.593643,0,2,0,0
421,천호2동 주민센터,서울특별시 강동구 올림픽로 698,37.553875,127.128282,1.950262e+06,967356.793338,1,0,0,0
422,천호3동 주민센터,서울특별시 강동구 진황도로23길 7,37.539519,127.129328,1.948669e+06,967442.919346,1,0,0,0
423,강일동 주민센터,서울특별시 강동구 아리수로93길 9-14,37.564942,127.173915,1.951475e+06,971391.690816,1,0,0,0

In [ ]:
main.drop(columns=['위도', '경도'], inplace=True)
main.head()

,시설명,주소,위도utmk,경도utmk,도서관(500),배움터(500),병원(500),공원(500)
0,청운효자동 주민센터,서울특별시 종로구 자하문로 92,1.953680e+06,953451.030567,0,0,0,0
1,사직동 주민센터,서울특별시 종로구 사직로9길 1,1.952806e+06,953286.588072,2,0,0,1
2,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1.952190e+06,955056.678912,0,2,1,1
3,삼청동 주민센터,서울특별시 종로구 삼청로 107,1.953774e+06,954435.679506,1,0,0,0
4,가회동 주민센터,서울특별시 종로구 북촌로 35,1.953223e+06,954699.580385,1,0,0,0

# 대중교통

## 버스

In [ ]:
bus = pd.read_excel('/content/drive/MyDrive/PROJECT_senior it support center/데이터/전처리 전 데이터/서울 버스정류장.xlsx',
                    index_col=0)
bus.head()

   ARS-ID           정류소명         X좌표        Y좌표        위도UTMK         경도UTMK
0    1001        종로2가사거리  126.987750  37.569765  1.952083e+06  954953.448869
1    1002    창경궁.서울대학교병원  126.996566  37.579183  1.953124e+06  955737.576199
2    1003      명륜3가.성대입구  126.998340  37.582671  1.953510e+06  955896.286905
3    1004       종로2가.삼일교  126.987613  37.568579  1.951952e+06  954940.652709
4    1005  혜화동로터리.여운형활동터  127.001744  37.586243  1.953905e+06  956198.927284

In [ ]:
b1 = bus['위도UTMK']
b2 = bus['경도UTMK']

main['버스(100)'] = 0

In [ ]:
for i in range(len(main)):
    for j in range(len(bus)):
        value = False
        value = np.sqrt((x[i] - b1[j])**2 + (y[i] - b2[j])**2) <= 100
        if value == True:
            main['버스(100)'][i] += int(value)
        else:
            pass
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,시설명,주소,위도utmk,경도utmk,도서관(500),배움터(500),병원(500),공원(500),버스(100)
0,청운효자동 주민센터,서울특별시 종로구 자하문로 92,1.953680e+06,953451.030567,0,0,0,0,1
1,사직동 주민센터,서울특별시 종로구 사직로9길 1,1.952806e+06,953286.588072,2,0,0,1,1
2,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1.952190e+06,955056.678912,0,2,1,1,4
3,삼청동 주민센터,서울특별시 종로구 삼청로 107,1.953774e+06,954435.679506,1,0,0,0,3
4,가회동 주민센터,서울특별시 종로구 북촌로 35,1.953223e+06,954699.580385,1,0,0,0,2
...,...,...,...,...,...,...,...,...,...
419,성내3동 주민센터,서울특별시 강동구 강동대로53길 76,1.947043e+06,967692.043655,0,0,0,0,0
420,천호1동 주민센터,서울특별시 강동구 구천면로42길 59,1.949388e+06,968010.593643,0,2,0,0,0
421,천호2동 주민센터,서울특별시 강동구 올림픽로 698,1.950262e+06,967356.793338,1,0,0,0,4
422,천호3동 주민센터,서울특별시 강동구 진황도로23길 7,1.948669e+06,967442.919346,1,0,0,0,0
423,강일동 주민센터,서울특별시 강동구 아리수로93길 9-14,1.951475e+06,971391.690816,1,0,0,0,3

## 지하철

In [ ]:
subway = pd.read_excel('/content/drive/MyDrive/PROJECT_senior it support center/데이터/전처리 전 데이터/서울시 지하철역 위치.xlsx',
                       index_col=0)
subway.head()

   역사_ID   역사명      호선          위도         경도        위도UTMK         경도UTMK
0   9996    미사     5호선  127.193877  37.560927  1.951024e+06  973153.163495
1   9995    강일     5호선  127.175930  37.557490  1.950648e+06  971566.788642
2   4929  김포공항  김포골드라인  126.801868  37.562360  1.951367e+06  938532.169497
3   4928    고촌  김포골드라인  126.770345  37.601243  1.955702e+06  935781.532386
4   4927    풍무  김포골드라인  126.732387  37.612488  1.956977e+06  932441.037815

In [ ]:
s1 = subway['위도UTMK']
s2 = subway['경도UTMK']
main['지하철(250)'] = 0

In [ ]:
for i in range(len(main)):
    for j in range(len(subway)):
        value = False
        value = np.sqrt((x[i] - s1[j])**2 + (y[i] - s2[j])**2) <= 250
        if value == True:
            main['지하철(250)'][i] += int(value)
        else:
            pass
main

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,시설명,주소,위도utmk,경도utmk,도서관(500),배움터(500),병원(500),공원(500),버스(100),지하철(250)
0,청운효자동 주민센터,서울특별시 종로구 자하문로 92,1.953680e+06,953451.030567,0,0,0,0,1,0
1,사직동 주민센터,서울특별시 종로구 사직로9길 1,1.952806e+06,953286.588072,2,0,0,1,1,0
2,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1.952190e+06,955056.678912,0,2,1,1,4,1
3,삼청동 주민센터,서울특별시 종로구 삼청로 107,1.953774e+06,954435.679506,1,0,0,0,3,0
4,가회동 주민센터,서울특별시 종로구 북촌로 35,1.953223e+06,954699.580385,1,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...
419,성내3동 주민센터,서울특별시 강동구 강동대로53길 76,1.947043e+06,967692.043655,0,0,0,0,0,0
420,천호1동 주민센터,서울특별시 강동구 구천면로42길 59,1.949388e+06,968010.593643,0,2,0,0,0,0
421,천호2동 주민센터,서울특별시 강동구 올림픽로 698,1.950262e+06,967356.793338,1,0,0,0,4,0
422,천호3동 주민센터,서울특별시 강동구 진황도로23길 7,1.948669e+06,967442.919346,1,0,0,0,0,0
423,강일동 주민센터,서울특별시 강동구 아리수로93길 9-14,1.951475e+06,971391.690816,1,0,0,0,3,0

In [ ]:
main_df = main.copy().drop(columns=['주소', '위도utmk', '경도utmk'])
main_df.head()

            시설명  도서관(500)  배움터(500)  병원(500)  공원(500)  버스(100)  지하철(250)
0    청운효자동 주민센터         0         0        0        0        1         0
1      사직동 주민센터         2         0        0        1        1         0
2  종로1-4가동 주민센터         0         2        1        1        4         1
3      삼청동 주민센터         1         0        0        0        3         0
4      가회동 주민센터         1         0        0        0        2         0

In [ ]:
main_df.to_csv('/content/drive/MyDrive/PROJECT_senior it support center/데이터/main_df.csv')